html {
  scroll-behavior: smooth;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

a {
  text-decoration: none
}

.logo {
  width: 150;
  height: auto;
}

.crop {
  height: 360px;
  width: 400px;
  overflow: hidden;
}

.crop img {
  height: auto;
  width: 100%;
}

/* .img {
  width: 360px;
  height: 400px;

  /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
/* object-fit: scale-down;

} */

*/ .parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.slider .indicators .indicator-item.active {
  background-color: #49148c;

}

.footer-col-thin {
  width: 30%;
  border-right: 1px solid #c2bdbb;
  padding: 0 3em;
  position: relative;
}

footer.page-footer {
  margin: 0;
}